<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<svg xmlns="http://www.w3.org/2000/svg" th:fragment="flagUs" viewBox="0 0 24 18" aria-hidden="true">
    <rect width="24" height="18" fill="#FFFFFF"></rect>
    <g fill="#B22234">
        <rect width="24" height="1.5" y="0"></rect>
        <rect width="24" height="1.5" y="3"></rect>
        <rect width="24" height="1.5" y="6"></rect>
        <rect width="24" height="1.5" y="9"></rect>
        <rect width="24" height="1.5" y="12"></rect>
        <rect width="24" height="1.5" y="15"></rect>
    </g>
    <rect width="10" height="9" fill="#3C3B6E"></rect>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" th:fragment="flagFr" viewBox="0 0 24 18" aria-hidden="true">
    <rect width="8" height="18" fill="#0055A4"></rect>
    <rect x="8" width="8" height="18" fill="#FFFFFF"></rect>
    <rect x="16" width="8" height="18" fill="#EF4135"></rect>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" th:fragment="flagRw" viewBox="0 0 24 18" aria-hidden="true">
    <rect width="24" height="6" fill="#00A2E8"></rect>
    <rect y="6" width="24" height="6" fill="#FCD116"></rect>
    <rect y="12" width="24" height="6" fill="#00A651"></rect>
    <circle cx="18" cy="3" r="2" fill="#FCD116"></circle>
</svg>

</body>
</html>
